/* CSS RESET */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* dark mode/ light mode colors */
[data-theme="light"] {
  --bg-color: #FBFBFD;
  --fg-color: #1D1D1F;
  --fg-current-color: #000000;
  --box-shadow1: #cbcbcd;
  --box-shadow2: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #1D1D1F;
  --fg-color: #FBFBFD;
  --fg-current-color: #FBFBFD;
  --box-shadow1: #0c0c0c;
  --box-shadow2: #2e2e32;
  --fg-filter: invert(86%) sepia(7%) saturate(2997%) hue-rotate(193deg) brightness(122%) contrast(98%);
}

:root {
  color-scheme: dark;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Inter, system-ui, Ubuntu, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: var(--fg-color);
  background-color: var(--bg-color);
  width: 100%;
  scrollbar-color: dark;
  font-size: 20px;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 1000;
  background-color: var(--bg-color);
}

#theme-toggle {
  border: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 10px;
  padding: 0;
  width: 8%;
  max-width: 50px;
}

#theme-toggle-img {
  width: 100%;
  filter: var(--fg-filter);
}

#person-container {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 90px;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
}

#full-name {
  font-size:calc(20px + 3vw);
  font-weight: 400;
  color: var(--fg-color);
}

#full-name b{
  font-weight: 300;
  font-size:calc(10px + 1.5vw);
}

#portrait {
  min-width: 80px;
  max-width: 8vw;
  height: auto;
  border-radius: 5px;
  background: #1D1D1F;
  box-shadow:  13px 13px 27px var(--box-shadow1),
               -13px -13px 27px var(--box-shadow2);
}

#about-me {
  width: 90%;
}

#content-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume-container {
  width: 90%;
  height: 67vw;
}

#sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 5%;
  top: 40%;
}

#sidebar-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

a {
  color: var(--fg-color);
  text-decoration: none;
  white-space: pre;
}

a:visited {
  color: var(--fg-color);
}

/* OFFSET TO AVOID TOP BAR OVERLAPPING */
:target::before {
  content: "";
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}

/* MEDIA QUERIES FOR MOBILE DEVICES */
/* for desktops */
@media only screen and (min-width : 701px) {
  #person-container {
    width: 50%;
    justify-content: space-between;
  }

  #about-me {
    width: 50%;
  }
  
  #resume-container {
    width: 50%;
  }
  
  .mobile-viewer {
    display: none;
  }

  #sidebar-container {
    font-size: 22px;
  }
}

/* for mobile screens */
@media only screen and (max-width : 700px) {
  #sidebar-container {
    position: relative;
    flex-direction: row;
    align-self: left;
    width: 90%;
    font-size: 15px;
  }

  .desktop-viewer {
    display: none;
  }
}
